<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Conversion</servlet-name>
		<servlet-class>com.ykw.servlet.ConversionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Conversion</servlet-name>
		<url-pattern>/conversion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadBronzeServlet</servlet-name>
		<servlet-class>com.ykw.servlet.UploadBronzeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadBronzeServlet</servlet-name>
		<url-pattern>/upload/bronzeFormat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadSilverServlet</servlet-name>
		<servlet-class>com.ykw.servlet.UploadSilverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadSilverServlet</servlet-name>
		<url-pattern>/upload/silverFormat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadGoldServlet</servlet-name>
		<servlet-class>com.ykw.servlet.UploadGoldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadGoldServlet</servlet-name>
		<url-pattern>/upload/goldFormat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>com.ykw.servlet.Serve</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/confirm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConnectionServlet</servlet-name>
		<servlet-class>com.ykw.servlet.ConnectionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectionServlet</servlet-name>
		<url-pattern>/connection</url-pattern>
	</servlet-mapping>
 	<servlet>
		<servlet-name>SendConfirmEmail</servlet-name>
		<servlet-class>com.ykw.servlet.SendConfirmEmail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendConfirmEmail</servlet-name>
		<url-pattern>/tasks/sendconfirmemail</url-pattern>
	</servlet-mapping>
 	<servlet>
		<servlet-name>SendProcessingEmail</servlet-name>
		<servlet-class>com.ykw.servlet.SendProcessingEmail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendProcessingEmail</servlet-name>
		<url-pattern>/tasks/sendprocessingemail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendDownloadEmail</servlet-name>
		<servlet-class>com.ykw.servlet.SendDownloadEmail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendDownloadEmail</servlet-name>
		<url-pattern>/tasks/senddownloademail</url-pattern>
	</servlet-mapping>  
	<security-constraint>
    <web-resource-collection>
        <url-pattern>/tasks/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
</security-constraint>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
